* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-template-areas: 
        "sidebar header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main"
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(1, 1fr);
}

.site-header {
    grid-area: header;
}

.site-content {
    grid-area: main;
}

.logo-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo {
    display: grid;
    grid-auto-flow: dense;
}

#title-text {
    display: inline;
}